/* CSS Style Sheet */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100%;
  font-family: Roboto, 'Times New Roman', Times, serif;
  display: flex;
  flex-flow: column wrap;
  padding: 0;
  margin: 0;
}

.section1 {
    background-color: #1F2937;
    display: flex;
    flex-flow: column nowrap;
}

.section2 {
    background-color: white;
}

.section3 {
    background-color: #E5E7EB;
}

.section4 {
    background-color: white;
}

.footer {
    background-color: #1F2937;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 32px;
    padding: 8px 0px;
}

.awesome {
    font-size: 48px;
    font-weight: 900;
}

.awesome, .text1 {
    color: #F9FAF8;
}

.text1 {
    font-size: 24px;
    padding: 16px 0px;
}

.text2 {
    font-size: 18px;
    color: #E5E7EB;
}

.large-img {
    width: 500px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #818388;
    color: #F9FAF8;
    padding: 52px;
    margin-left: auto;
    margin-right: 8.75%;
    margin-top: auto;
    margin-bottom: auto;
}

button {
    background-color: #3882F6;
    color:#E5E7EB;
    font-weight: 700;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 10%;
}

.links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: 10%;
}

.container1 {
    width: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10%;
    margin-top: auto;
    margin-bottom: auto;
    row-gap: 16px;
}

.container2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 8%;
}